/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer components {
    .hover-effect {
            borderRadius: '50%';
            borderWidth: '1px';
            borderColor: 'transparent';
            backgroundColor: 'red';
            transition: 'all 0.3s ease-in-out';
    }
  } */

  /* #check-box-1 */
  